{% assign posters = page.author | split:',' %}

<p class="meta">
{% for poster in posters %}
	{% assign poster2 = poster | strip %}
    {% if forloop.first %}
        A writeup by
    {% elsif forloop.last %}
        {{"and"}}
    {% else %}
        {{", "}}
    {% endif %}
	{% if site.authors[poster2] %}
		{% assign author = site.authors[poster2] %}
		{% if author.display_name %}
            {% assign name = (author.display_name | strip) %}
		{% else %}
            {% assign name = (poster2 | strip) %}
		{% endif %}
	{% else %}
        {% assign name = (poster2 | strip) %}
	{% endif %}
    <a href="/authors/#{{ poster2 }}-ref">{{ name }}</a>
{% endfor %}
</p>
