   <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

     <meta name="description" content="{{ site.description }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/stylesheets/github-dark.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/stylesheets/syntax.css" media="screen">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.png" >
    
    <meta name="google-site-verification" content="uRMJlUpMZJR0GziIA8haQKxkeKsVbTsNrH5y6_RtQvA" />

    <!--<link rel="space-api" title="Space API Endpoint" type="application/json" href="https://spaceapi.net/new/space/losfuzzyslab/status/json"/>-->

  <title>{% if page.title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
