---
layout: default
---

<div class="post">

  <article class="post-content">
  {{ content }}
  </article>

  
  
  
  
  
  
  
  
  
  
  
</div>
<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link href="/css/mtps3.css" rel="stylesheet" type="text/css">
</head>
<body>

                            <div class="progress-container">
                                <div class="progressbar" id="progress-conscription" style="width:100.94710659352%; font-size:8pt; font-family:Consolas; color:white; line-height:15px;">&nbsp;100.94710659%</div>
                            </div>
                            <p class="progress-status">2016-08-01</p>
                            <p class="progress-status right">2018-12-10</p>
                        </td>
                    </tr>
                </table>
            </div>
<script>
        var init_date = new Date(2016, 08, 01); 
        var exit_date = new Date(2018, 12, 10);
        var total_duration = exit_date - init_date;
        function progress_check(){
            var jjam_percent = (((new Date() - init_date) / total_duration) * 100).toFixed(8);
            document.getElementById("progress-conscription").style.width = jjam_percent + '%';
            document.getElementById("progress-conscription").innerHTML = '&nbsp;' + jjam_percent + '%';
            setTimeout('progress_check()', 10);
        }
        if(new Date() >= exit_date) { document.getElementById("Bachelor").style.display = 'none'; }else{ progress_check(); }
    </script>
</html>
