---
layout: default
---
<div class="post">

  <header class="post-header">
    <h2>{{ page.title }}</h2>
    {% if page.author and page.categories contains 'writeup'  %}<p class="meta">A writeup by {{ page.author }}</p>{% endif %}
    <!--<p class="meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p> -->
  </header>

  <article class="post-content">
  {{ content }}
  </article>

  <footer>
     <hr>
     <p class="meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • by {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
   </footer>

</div>
